@font-face {
  font-family: Nunito-Regular;
  src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito-Bold.ttf);
}

:root {
  color: #666666;
}

h3,
.mb {
  font-family: Nunito-Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.55px;
  line-height: 100%;
}

.m {
  font-family: Nunito-Regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  line-height: 100%;
}

p,
.sb {
  font-family: Nunito-Regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 19.1px;
  line-height: 100%;
}

.s {
  font-family: Nunito-Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
  line-height: 100%;
}

.xs {
  font-family: Nunito-Regular;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.37px;
  line-height: 100%;
}

.xxs {
  font-family: Nunito-Regular;
  font-weight: 700;
  font-size: 10px;
  line-height: 13.64px;
  line-height: 100%;
}

main {
  background-color: #ffffff;
  border-radius: 20px 0px 0px 20px;
}
