.App {
  display: grid;
  grid-template-columns: 281px 1fr;
  min-height: 680px;
  box-sizing: border-box;
  background-color: #fffdf8;
}

@media screen and (max-width: 895px) {
  .App {
    display: block;
  }
}
