@font-face {
  font-family: Nunito-Regular;
  src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito-Bold.ttf);
}
$prim-col1: #666666;
$prim-col2: #484848;
$prim-col3: #313131;
$prim-col4: #282828;
$sec-col1: #ffe0d9;
$sec-col2: #f97b5c;
$sec-col3: #3592ff;
$main-bg: white;
